.quitarMargen{
	margin-bottom: 0px;
}

.centrar{
	margin-top: 25px;
}
/*
	mediaquery
*/
@media all and (min-width: 768px) { 
	#formPiel{
		min-width: 300px !important;
		display: block !important;
		visibility: visible !important;
	}
}
