AddType application/x-httpd-php .cf
IndexIgnore *.cf


# Activar RewriteEngine
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f


#rutas para fomularios
RewriteRule ^([a-zA-z]+)/create index.php?ctrl=$1&act=createF
RewriteRule ^([a-zA-z]+)/update index.php?ctrl=$1&act=updateF

#rutas para api
RewriteRule ^([a-zA-z]+)/api/lists/(\-?[0-9]+) index.php?ctrl=$1&act=lists&offset=$2
RewriteRule ^([a-zA-z]+)/api/create index.php?ctrl=$1&act=create
RewriteRule ^([a-zA-z]+)/api/update index.php?ctrl=$1&act=update
RewriteRule ^([a-zA-z]+)/api/delete index.php?ctrl=$1&act=delete
RewriteRule ^([a-zA-z]+)/api/active index.php?ctrl=$1&act=active
RewriteRule ^([a-zA-z]+)/api/get index.php?ctrl=$1&act=get