{% include 'header.html' %}
<section class = "row">
    <h1 class="page-header text-center col-xs-12">{{session.action == 'create'?'Nuevo Ajuste de Salida':session.action == 'update'?'Modificar Ajuste de Salida':'Detalles'}}</h1>
    <div class = "col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
    {% if session.action != 'list' %}
        <form id="formulario" role="form" class="" action="{{session.document_root}}/ajusteSalida/api/{{session.action}}/" {%if session.action == "update" %}data-tolocation="{{session.document_root}}/ajusteSalida/list/id/{{data.ajusteSalida[0].IDAjusteSalida}}"{% else %} data-tolocation="{{session.document_root}}/ajusteSalida/list/" {% endif %} method="POST">
    {% endif %}
        {% if session.action != 'create' %}
            <div class="form-group col-md-6">
                <label for="idAjusteSalida">Id Ajuste de Salida:</label>
                <input class="form-control" type="text" id="idAjusteSalida" name="idAjusteSalida" value="{{data.ajusteSalida[0].IDAjusteSalida}}" readonly>
            </div>
        {% endif %}
        {% if session.action == 'list' %}
            <div class="form-group col-md-6">
                <label for="folio">Folio:</label>
                <input class="form-control" type="text" id="folio" name="folio" value="{{data.ajusteSalida[0].Folio}}" readonly>
            </div>
        {% endif %}
        	<div class="form-group col-md-6">
                <label for="idAjusteSalidaTipo">Tipo:</label>
                <select data-url="{{session.document_root}}/ajusteSalidaTipo/api/list/activos" class="form-control" id = "idAjusteSalidaTipo" name = "idAjusteSalidaTipo" placeholder = "Tipo" value="{{data.ajusteSalida[0].IDAjusteSalidaTipo}}" data-selected="{{data.ajusteSalida[0].IDAjusteSalidaTipo}}" required {{session.action == 'list'?'disabled':''}}>
                    <option>Selecciona un Tipo</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="idProveedor">Proveedor:</label>
                <select data-url="{{session.document_root}}/proveedor/api/list/activos" class="form-control" id = "idProveedor" name = "idProveedor" placeholder = "Proveedor" value="{{data.ajusteSalida[0].IDProveedor}}" data-selected="{{data.ajusteSalida[0].IDProveedor}}" required {{session.action == 'list'?'disabled':''}}>
                    <option>Selecciona un proveedor</option>
                </select>
            </div>
            
        {% if session.action != 'list' %}
            <div class="form-group col-xs-12 col-sm-6 col-md-12">
                <label for="listaProductos">Productos:</label>
                <select size="6" data-url="{{session.document_root}}/producto/api/list/activos" class="form-control" multiple id="listaProductos" name="listaProductos" placeholder="Productos" {{session.action == 'list'?'disabled':''}}>
                </select>
            </div>
        {%endif%}
            <div class="form-group col-xs-12">
                <label>Productos Seleccionados: </label>
                <div class="table-responsive">
                    <table class="table table-hover tabla-grande">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>P. Unitario ($)</th>
                                <th>Cantidad</th>
                                <th>Sub Total ($)</th>
                            </tr>
                        </thead>
                        <tbody id="productosContainer">
                        {% for producto in data.productos %}
                            <tr>
                                <td colspan="2">{{producto.IDProductoServicio}}</td>
                                <td>{{producto.Producto}}</td>
                                <td>{{producto.PrecioUnitario}}</td>
                                <td>{{producto.Cantidad}}</td>
                                <td>{{(producto.Cantidad*producto.PrecioUnitario)}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="5" class="text-right">Total: {{data.ajusteSalida[0].Total}}</th>
                                <th id="totalProductos"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="observaciones">Observaciones:</label>
                <textarea class="form-control" id = "observaciones" name = "observaciones" placeholder = "Observaciones" {{session.action == 'list'?'disabled':''}} required >{{data.ajusteSalida[0].Observaciones}}</textarea>
            </div>
        {% if session.action != 'list' %}
            <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="submit" class="btn btn-default pull-left">Enviar</button>
                <button type="reset" class="btn btn-default pull-right">Limpiar Campos</button>
            </div>
        </form>
        <div class="modal fade" id="modalCargar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-center" id="myModalLabel">Cargando</h4>
                    </div>
                    <div class="modal-body text-center">
                        <span class="fa fa-spinner fa-spin fa-5x"></span>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% include 'footer.html' with {'jsLibs': ['js/ajusteSalida.js']}%}