<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nuevo Cliente</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Spa Damaris</span>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-home"></i> Inicio</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user"></i> Empleados</a>
                        </li>
                        <li>
                            <a class="active" href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Clientes</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i> Proveedores</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-briefcase"></i> Servicios</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart"></i> Productos</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-h-square"></i> Historiales Médicos</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-stethoscope"></i> Consultas</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-credit-card"></i> Ventas</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-money"></i> Compras</a>
                        </li>
                        <li >
                            <a href="#"><i class="fa fa-cogs"></i> Ajustes<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="fa fa-share" href="#">Ajustes de Entrada</a>
                                </li>
                                <li>
                                    <a class="fa fa-reply" href="#">Ajustes de Salida</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
    </div>
    <!-- /#wrapper -->
    <section id = "page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header col-xs-12">Nuevo Cliente</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <section class="col-sm-1 col-md-1 col-lg-2"></section>

        <section class = "row">
            <section class = "col-sm-10 col-md-10 col-lg-8">
                <form role="form">
                    <section class="form-group col-md-12 col-lg-12">
                        <label>Nombre:</label>
                        <input class="form-control" type = "text" id = "nombre" name = "nombre" placeholder = "Nombre(s)">
                    </section>
                    <section class="form-group  col-md-12 col-lg-12">
                        <label>Apellido Paterno:</label>
                        <input class="form-control" type = "text" id = "apellidoPaterno" name = "apellidoPaterno" placeholder = "Apellido Paterno">
                    </section>
                    <section class="form-group  col-md-12 col-lg-12">
                        <label>Apellido Materno:</label>
                        <input class="form-control" type = "text" id = "apellidoMaterno" name = "apellidoMaterno" placeholder = "Apellido Materno">
                    </section>
                    <section class="form-group col-md-6 col-lg-6">
                        <label>Colonia:</label>
                        <input class="form-control" type = "text" id = "colonia" name = "colonia" placeholder = "Colonia">
                    </section>
                    <section class="form-group col-md-6 col-lg-6">
                        <label>Calle:</label>
                        <input class="form-control" type = "text" id = "calle" name = "calle" placeholder = "Nombre de la Calle">
                    </section>
                    <section class="form-group col-md-6 col-lg-6">
                        <label>Número Exterior:</label>
                        <input class="form-control" type = "text" id = "numExterior" name = "numExterior" placeholder = "Número Exterior">
                    </section>
                    <section class="form-group col-md-6 col-lg-6">
                        <label>Número Interior:</label>
                        <input class="form-control" type = "text" id = "numInterior" name = "numInterior" placeholder = "Número Interior">
                    </section>
                    <section class="form-group col-md-6 col-lg-6">
                        <label>Código Postal:</label>
                        <input class="form-control" type = "text" id = "codigoPostal" name = "codigoPostal" placeholder = "Código Postal">
                    </section>
                    <section class="form-group col-md-6 col-lg-6">
                        <label>Email:</label>
                        <input class="form-control" type = "email" id = "email" name = "email" placeholder = "Email">
                    </section>
                    <section class="form-group col-md-6 col-lg-6">
                        <label>Teléfono:</label>
                        <input class="form-control" type = "tel" id = "telefono" name = "telefono" placeholder = "Teléfono">
                    </section>
                    <section class="form-group col-md-6 col-lg-6">
                        <label>Celular:</label>
                        <input class="form-control" type = "tel" id = "celular" name = "celular" placeholder = "Celular">
                    </section>

                    <section class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="submit" class="btn btn-default pull-left">Enviar</button>
                        <button type="reset" class="btn btn-default pull-right">Limpiar Campos</button>
                    </section>
                </form>
            </section>

            <!--Lado Derecho-->
            <section class="col-sm-1 col-md-1 col-lg-2"></section>
        </section>
    </section>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/sb-admin-2.js"></script>

</body>

</html>