{% include 'header.html' %}
<section class = "row">
	<h1 class="page-header text-center col-xs-12">{{session.action == 'create'?'Nuevo Cliente':session.action == 'update'?'Modificar Cliente':'Detalles'}}</h1>
    <div class = "col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
    {% if session.action != 'list' %}
        <form id="formulario" role="form" class="" action="{{session.document_root}}/cliente/api/{{session.action}}/" {%if session.action == "update" %}data-tolocation="{{session.document_root}}/cliente/list/id/{{data.IDCliente}}"{% else %} data-tolocation="{{session.document_root}}/cliente/list/" {% endif %} method="POST">
    {% endif %}
            <div class="form-group {{session.action != 'create'?'col-md-6':'col-md-12'}}">
                <label for="nombre">Nombre:</label>
                <input class="form-control" type = "text" id = "nombre" name = "nombre" placeholder = "Nombre(s)" value="{{data.Nombre}}" required {{session.action == 'list'?'disabled':''}}>
            </div>
        {% if session.action != 'create' %}
            <div class="form-group col-md-6">
                <label for="idEmpleado">Id Cliente:</label>
                <input class="form-control" type="text" id="idCliente" name="idCliente" value="{{data.IDCliente}}" readonly>
            </div>
        {% endif %}
            <div class="form-group  col-md-12 col-lg-12">
                <label for="apellidoPaterno">Apellido Paterno:</label>
                <input class="form-control" type = "text" id = "apellidoPaterno" name = "apellidoPaterno" placeholder = "Apellido Paterno" value="{{data.ApellidoPaterno}}" required {{session.action == 'list'?'disabled':''}}>
            </div>
            <div class="form-group  col-md-12 col-lg-12">
                <label for="apellidoMaterno">Apellido Materno:</label>
                <input class="form-control" type = "text" id = "apellidoMaterno" name = "apellidoMaterno" placeholder = "Apellido Materno" value="{{data.ApellidoMaterno}}" required {{session.action == 'list'?'disabled':''}}>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <label for="colonia">Colonia:</label>
                <input class="form-control" type = "text" id = "colonia" name = "colonia" placeholder = "Colonia" value="{{data.Colonia}}" required {{session.action == 'list'?'disabled':''}}>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <label for="calle">Calle:</label>
                <input class="form-control" type = "text" id = "calle" name = "calle" placeholder = "Nombre de la Calle" value="{{data.Calle}}" required {{session.action == 'list'?'disabled':''}}>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <label for="numExterior">Número Exterior:</label>
                <input class="form-control" type = "text" id = "numExterior" name = "numExterior" placeholder = "Número Exterior" value="{{data.NumExterior}}" required {{session.action == 'list'?'disabled':''}}>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <label for="numInterior">Número Interior:</label>
                <input class="form-control" type = "text" id = "numInterior" name = "numInterior" placeholder = "Número Interior" value="{{data.NumInterior}}" {{session.action == 'list'?'disabled':''}}>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <label for="codigoPostal">Código Postal:</label>
                <input class="form-control" type = "text" id = "codigoPostal" name = "codigoPostal" placeholder = "Código Postal" value="{{data.CP}}" required {{session.action == 'list'?'disabled':''}}>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <label for="email">Email:</label>
                <input class="form-control" type = "email" id = "email" name = "email" placeholder = "Email" value="{{data.Email}}" {{session.action == 'list'?'disabled':''}}>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <label for="telefono">Teléfono:</label>
                <input class="form-control" type = "tel" id = "telefono" name = "telefono" placeholder = "Teléfono" value="{{data.Telefono}}" {{session.action == 'list'?'disabled':''}}>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <label for="celular">Celular:</label>
                <input class="form-control" type = "tel" id = "celular" name = "celular" placeholder = "Celular" value="{{data.Celular}}" {{session.action == 'list'?'disabled':''}}>
            </div>
        {% if session.action != 'list' %}
            <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="submit" class="btn btn-default pull-left">Enviar</button>
                <button type="reset" class="btn btn-default pull-right">Limpiar Campos</button>
            </div>
        </form>
        <div class="modal fade" id="modalCargar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-center" id="myModalLabel">Cargando</h4>
                    </div>
                    <div class="modal-body text-center">
                        <span class="fa fa-spinner fa-spin fa-5x"></span>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% include 'footer.html' with {'jsLibs': ['js/cliente.js']}%}