{% include 'header.html' %}
<div class="container-fluid">    
    <div class="col-lg-12">
        <section class="row">
            <h1>Consultas</h1> <!--Nombre  del Modulo -->
            <ol class="breadcrumb">
               <h4><li class="active"><i class="fa fa-stethoscope"> Lista de Consultas</i></li></h4>
            </ol>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Lista de Consultas
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive col-xs-12 scroll-vertical">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th class="text-center">Cliente</th>
                                    <th class="text-center">IDTerapeuta</th>
                                    <th class="text-center">Terapeuta</th>
                                    <th class="text-center">Fecha Cita</th>
                                    <th class="text-center">Detalles</th>
                                    <th class="text-center">Editar</th>
                                    <th class="text-center">Eliminar</th>
                                    </tr>
                            </thead>
                            <tbody>
                            {% for consulta in data %}
                                <tr>
                                    <td>{{consulta.Cliente}}</td>
                                    <td>{{consulta.IDTerapeuta}}</td>
                                    <td>{{consulta.Terapeuta}}</td>
                                    <td>{{consulta.FechaCita}}</td>
                                    <td align="center"><a href="{{session.document_root}}/consulta/list/id/{{consulta.IDConsulta}}"><span class="fa fa-list-ul fa-2x"></span></a></td>
                                    <td align="center"><a href="{{session.document_root}}/consulta/update/{{consulta.IDConsulta}}"><span class="fa fa-edit fa-2x"></span></a></td>
                                    <td align="center"><a href="#" data-id="{{consulta.IDConsulta}}" data-toggle="modal" data-target="#myModal"><span class="fa fa-close fa-2x"></span></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro de que quieres eliminar a ese usuario?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <a type="button" data-idelimiar="-1" id="botonSeguro" class="btn btn-primary" href="{{session.document_root}}/consulta/api/delete/">Sí</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% include 'footer.html' with {'jsLibs': ['js/consulta.js']} %}