	</div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="{{session.document_root}}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{session.document_root}}/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{session.document_root}}/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{session.document_root}}/js/sb-admin-2.js"></script>

    <script src="{{session.document_root}}/js/js-webshim/minified/polyfiller.js"></script>

    <script type="text/javascript">
        webshims.polyfill('forms forms-ext');
    </script>

    {% if jsLibs is defined%}
        {% for jsLib in jsLibs%}
            <script src="{{session.document_root}}/{{jsLib}}"></script>
        {% endfor %}
    {% endif %}

</body>

</html>