<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SpaDámaris</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{session.document_root}}/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{session.document_root}}/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{session.document_root}}/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{session.document_root}}/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% if cssLibs is defined%}
        {% for cssLib in cssLibs%}
            <link href="{{session.document_root}}/{{cssLib}}" rel="stylesheet" type="text/css">        
        {% endfor %}
    {% endif %}
</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Spa Damaris</span>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        {% if session.isLoged == false %}
                            <li>
                                <a class="{{session.controller == 'loginB' ?'active':''}}" href="{{session.document_root}}/?ctrl=loginB"><i class="fa fa-key"></i> Iniciar Sesión</a>
                            </li>
                        {% else %}
                            {% include 'bienvenido.html' %}
                        {% endif %}
                        <li>
                            <a class="{{session.controller == 'index' ?'active':''}}" href="{{session.document_root}}/"><i class="fa fa-home"></i> Inicio</a>
                        </li>
                {% if session.isLoged == true %}
                    {% if session.isAdmin == true %}
                        <li>
                            <a class="{{session.controller == 'empleado' ?'active':''}}" href="#"><i class="fa fa-user"></i> Empleados <span class="fa arrow"></span></a>
                        {% if session.controller == 'empleado' %}
                            <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        {% else %}
                            <ul class="nav nav-second-level">
                        {% endif %}
                                <li>
                                    <a class="fa fa-plus-circle" href="{{session.document_root}}/empleado/create"> Crear</a>
                                </li>
                                <li>
                                    <a class="fa fa-list-ul" href="{{session.document_root}}/empleado/list"> Listar</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                        <li>
                            <a class="{{session.controller == 'cliente' ?'active':''}}" href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Clientes <span class="fa arrow"></span></a>
                        {% if session.controller == 'cliente' %}
                            <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        {% else %}
                            <ul class="nav nav-second-level">
                        {% endif %}
                                <li>
                                    <a class="fa fa-plus-circle" href="{{session.document_root}}/cliente/create"> Crear</a>
                                </li>
                                <li>
                                    <a class="fa fa-list-ul" href="{{session.document_root}}/cliente/list"> Listar</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="{{session.controller == 'proveedor' ?'active':''}}" href="#"><i class="fa fa-table fa-fw"></i> Proveedores <span class="fa arrow"></span></a>
                        {% if session.controller == 'proveedor' %}
                            <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        {% else %}
                            <ul class="nav nav-second-level">
                        {% endif %}
                                <li>
                                    <a class="fa fa-plus-circle" href="{{session.document_root}}/proveedor/create"> Crear</a>
                                </li>
                                <li>
                                    <a class="fa fa-list-ul" href="{{session.document_root}}/proveedor/list"> Listar</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-briefcase"></i> Servicios</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart"></i> Productos</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-h-square"></i> Historiales Médicos</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-stethoscope"></i> Consultas</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-credit-card"></i> Ventas</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-money"></i> Compras</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cogs"></i> Ajustes<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="fa fa-share" href="#">Ajustes de Entrada</a>
                                </li>
                                <li>
                                    <a class="fa fa-reply" href="#">Ajustes de Salida</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                {% endif %}
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">