{% include 'header.html' with {'cssLibs': ['css/misEstilos.css']}%}
<section class = "row">
	<h1 class="page-header text-center col-xs-12">Nuevo Historial Medico</h1>
	<div class="col-xs-12">
		<form role="form" class="" action="?ctrl=historialMedico&act={{session.action}}" method="POST">
			<div class="col-xs-12">
				<div class="col-xs-7">
					<h3 class="page-header col-xs-12">Estado Actual de la Piel</h3>
				</div>
				<div class="col-xs-5 centrar">
	                <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#formPiel ">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="fa fa-arrow-down"></span>
	                </button>
                </div>
            </div>
			<div class="col-xs-offset-3 col-xs-6 col-sm-offset-1 col-sm-10" id="formPiel">
				<div class="form-group col-sm-6 col-md-3 quitarMargen">
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="fina" id="fina"/>
					</div>
					<label for="fina">Fina</label>
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="seca" id="seca"/>
					</div>
					<label for="seca">Seca</label>
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="manchas" id="manchas"/>
					</div>
					<label for="manchas">Manchas</label>
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="lunares" id="lunares"/>
					</div>
					<label for="lunares">Lunares</label>
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="arrugas" id="arrugas"/>
					</div>
					<label for="arrugas">Arrugas</label>
				</div>
				<div class="form-group col-sm-6 col-md-3 quitarMargen">
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="gruesa" id="gruesa"/>
					</div>
					<label for="gruesa">Gruesa</label>
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="mixta" id="mixta"/>
					</div>
					<label for="mixta">Mixta</label>
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="cicatrices" id="cicatrices"/>
					</div>
					<label for="cicatrices">Cicatrices</label>
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="pecas" id="pecas"/>
					</div>
					<label for="pecas">Pecas</label>
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="brilloFacial" id="brilloFacial"/>
					</div>
					<label for="brilloFacial">Brillo Facial</label>
				</div>
				<div class="form-group col-sm-6 col-md-3 quitarMargen">
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="deshidratada" id="deshidratada"/>
					</div>
					<label for="deshidratada">Deshidratada</label>
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="grasa" id="grasa"/>
					</div>
					<label for="grasa">Grasa</label>
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="poroAbierto" id="poroAbierto"/>
					</div>
					<label for="poroAbierto">Poro Abierto</label>
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="puntosNegros" id="puntosNegros"/>
					</div>
					<label for="puntosNegros">Puntos Negros</label>
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="pielAsfixiada" id="pielAsfixiada"/>
					</div>
					<label for="pielAsfixiada">Piel Asfixiada</label>
				</div>
				<div class="form-group col-sm-6 col-md-3 quitarMargen">
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="flacida" id="flacida"/>
					</div>
					<label for="flacida">Flácida</label>
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="acneica" id="acneica"/>
					</div>
					<label for="acneica">Acneica</label>
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="ojeras" id="ojeras"/>
					</div>
					<label for="ojeras">Ojeras</label>
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="verrugas" id="verrugas"/>
					</div>
					<label for="verrugas">Verrugas</label>
					<div class="checkbox">
						<input type="checkbox" nombre="arregloPiel" value="despigmentacion" id="despigmentacion"/>
					</div>
					<label for="despigmentacion">Despigmentación</label>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-12 col-md-6 agregarMargenGrupos">
					<fieldset>
						<legend>Ficha Clínica</legend>
						<ol>
							<div class="col-xs-12 col-lg-6">
								<label for="motivoConsulta"><li>Motivo de la Consulta?</label>
								<div class="col-xs-12">
									<input type="text" class="form-control" nombre="motivoConsulta" id="motivoConsulta"/>
								</div>
								</li>
							</div>

							<div class="col-xs-12 col-lg-6">
								<label for="motivoConsulta"><li>Desde cuando padece el problema?</label>
								<div class="col-xs-12">
									<input type="text" class="form-control" nombre="tiempoProblema" id="motivoConsulta"/>
								</div>
								</li>
							</div>

							<div class="col-xs-12 col-lg-6">
								<label for="motivoConsulta"><li>Con que lo relaciona?</label>
									<div class="col-xs-12">
										<input type="text" class="form-control" nombre="relacionaCon" id="motivoConsulta"/>
									</div>
								</li>
							</div>

							<div class="col-xs-12 col-lg-6">
								<label for="motivoConsulta"><li>Se ha tratado con anterioridad?</label>
									<div class="col-xs-12">
										<input type="text" class="form-control" nombre="tratamientoAnterior" id="motivoConsulta"/>
									</div>
								</li>
							</div>

							<div class="col-xs-12 col-lg-6">
								<label for="motivoConsulta"><li>Que métodos ha probado?</label>
									<div class="col-xs-12">
										<input type="text" class="form-control" nombre="metProbados" id="motivoConsulta"/>
									</div>
								</li>
							</div>

							<div class="col-xs-12 col-lg-6">
								<label for="motivoConsulta"><li>Con que resultados?</label>
									<div class="col-xs-12">
										<input type="text" class="form-control" nombre="resAnteriores" id="motivoConsulta"/>
									</div>
								</li>
							</div>
							<div class="col-xs-12">
								<div>
									<label><li>Habitos</label>
								</div>
									<div class="col-xs-12">
										<div class="col-lg-6">
											<input type="checkbox" nombre="arregloHabito" id="fuma" value="fuma"/>
											<label for="fuma">Fuma</label>
										</div>
										<div class="col-lg-6">
											<input type="checkbox" nombre="arregloHabito" id="tomaSol" value="tomaSol"/>
											<label for="tomaSol">Toma sol</label>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="col-lg-6">
											<input type="checkbox" nombre="arregloHabito" id="bloqueador" value="bloqueador"/>
											<label for="bloqueador">Bloqueador</label>
										</div> 
										<div class="col-lg-6">
											<input type="checkbox" nombre="arregloHabito" id="hidroquinona" value="hidroquinona"/>
											<label for="hidroquinona">Hidroquinona</label>
										</div>
									</div>
								</li>
							</div>
						</ol>
					</fieldset>
				</div>
				<div class="col-xs-12 col-md-6 agregarMargenGrupos">
					<fieldset>
						<legend>Hitorial de Exfoliación</legend>
						<ol>
							<div class="col-xs-12">
								<div>
									<label for="motivoConsulta"><li>Cual de los siguientes procedimientos se ha realizado?</label>
									<div class="col-xs-12">
										<div>
											<input type="checkbox" nombre="motivoConsulta" id="peellingQuim" value="peellingQuim"/>
											<label for="peellingQuim">Peelin quimico</label>										
										</div>
										<div>
											<input type="checkbox" nombre="motivoConsulta" id="laser" value="laser"/>
											<label for="laser">Láser</label>										
										</div>
										<div>
											<input type="checkbox" nombre="motivoConsulta" id="dermobrasion" value="dermobrasion"/>
											<label for="dermobrasion">Dermoabrasión</label>										
										</div>
									</div>
								</div>
								</li>
							</div>
							<div class="col-xs-12">
								<div>
									<label for="motivoConsulta"><li>Esta usando alguno de los siguientes medicamentos?</label>
								</div>
								<div class="col-xs-12">
									<div class="col-lg-6 quitarPaddinIzquierdo">
										<input type="checkbox" nombre="motivoConsulta" id="retinA" value="retinA"/>
										<label for="retinA">Retin A</label>										
									</div>
									<div class="col-lg-6 quitarPaddinIzquierdo">
										<input type="checkbox" nombre="motivoConsulta" id="renova" value="renova"/>
										<label for="renova">Renova</label>										
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-lg-6 quitarPaddinIzquierdo">
										<input type="checkbox" nombre="motivoConsulta" id="racutan" value="racutan"/>
										<label for="racutan">Racutan</label>										
									</div>
									<div class="col-lg-6 quitarPaddinIzquierdo">
										<input type="checkbox" nombre="motivoConsulta" id="adapaleno" value="adapaleno"/>
										<label for="adapaleno">Adapaleno</label>										
									</div>
								</div>
								</li>
							</div>
							<div class="col-xs-12">
								<div>
									<div>
										<label for="motivoConsulta"><li>Utiliza alguno de estos productos?</label>
									</div>
									<div class="col-lg-6">
										<div>
											<input type="checkbox" nombre="motivoConsulta" id="acidoGlicolico" value="acidoGlicolico"/>
											<label for="acidoGlicolico">Ácido glicólico</label>										
										</div>
										<div>
											<input type="checkbox" nombre="motivoConsulta" id="alfaHidroiacidos" value="alfaHidroiacidos"/>
											<label for="alfaHidroiacidos">Alfa hidroxiácidos</label>										
										</div>
										<div>
											<input type="checkbox" nombre="motivoConsulta" id="exfolianteGranuloso" value="exfolianteGranuloso"/>
											<label for="exfolianteGranuloso">Exfoliante granuloso</label>										
										</div>
									</div>
									<div class="col-lg-6">
										<div>
											<input type="checkbox" nombre="motivoConsulta" id="acidoLactico" value="acidoLactico"/>
											<label for="acidoLactico">Ácido láctico</label>										
										</div>
										<div>
											<input type="checkbox" nombre="motivoConsulta" id="vitaminaA" value="vitaminaA"/>
											<label for="vitaminaA">Vitamina A (retinol)</label>										
										</div>
										<div>
											<input type="checkbox" nombre="motivoConsulta" id="blanqueadorAclarador" value="blanqueadorAclarador"/>
											<label for="blanqueadorAclarador">Blanqueador o Aclarador</label>										
										</div>
									</div>
								</div>
								</li>
							</div>
						</ol>
					</fieldset>
				</div>
			</div>
		</form>
	</div>
</section>

{% include 'footer.html' %}