<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Spa</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1>Los módulos disponibles son:</h1>
		<ul>
			<li><a href="?ctrl=ajusteEntrada&act=create">ajusteEntrada</a></li>
			<li><a href="?ctrl=ajusteSalida&act=create">ajusteSalida</a></li>
			<li><a href="?ctrl=cliente&act=create">cliente</a></li>
			<li><a href="?ctrl=consulta&act=create">consulta</a></li>
			<li><a href="?ctrl=empleado&act=create">empleado</a></li>
			<li><a href="?ctrl=historialMedico&act=create">historialMedico</a></li>
			<li><a href="?ctrl=producto&act=create">producto</a></li>
			<li><a href="?ctrl=recepcion&act=create">recepcion</a></li>
			<li><a href="?ctrl=remision&act=create">remision</a></li>
			<li><a href="?ctrl=servicio&act=create">servicio</a></li>
		</ul>
	</div>
</div>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>