{% include 'header.html' with {'cssLibs': ['css/detallesMov.css']} %}
<div class="container-fluid">    
    <div class="col-lg-12">
       <section class = "row">
            <h1>Compras</h1> <!--Nombre  del Modulo -->
            <ol class="breadcrumb">
               <h4><li class="active"><i class="fa fa-money">{{session.action == 'create'?' Nueva Compra':session.action == 'update'?' Modificar Compra':'Detalles'}}</i></li></h4>
            </ol>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Registro
                </div>
                <div class="panel-body"> 
                    <div class = "col-sm-12  col-lg-12 scroll-vertical">
                        {% if session.action != 'list' %}
                            <form id="formulario" role="form" class="" action="{{session.document_root}}/recepcion/api/{{session.action}}/" {%if session.action == "update" %}data-tolocation="{{session.document_root}}/recepcion/list/id/{{data.recepcion[0].IDRecepcion}}"{% else %} data-tolocation="{{session.document_root}}/recepcion/list/" {% endif %} method="POST">
                        {% endif %}
                    	{% if session.action != 'create' %}
                            <div class="form-group col-md- hide">
                                <label for="idRecepcion">Id Compra:</label>
                                <input class="form-control" type="text" id="idRecepcion" name="idRecepcion" value="{{data.recepcion[0].IDRecepcion}}" readonly>
                            </div>
                        {% endif %}
                        {% if session.action == 'list' %}
                        	<div class="form-group col-md-6">
                                <label for="folio">Folio:</label>
                                <input class="form-control" type="text" id="folio" name="folio" value="{{data.recepcion[0].Folio}}" readonly>
                            </div>
                        {% endif %}
                            <div class="form-group col-md-6">
                                <label for="idProveedor">Proveedor:</label>
                                <select data-url="{{session.document_root}}/proveedor/api/list/activos" class="form-control" id = "idProveedor" name = "idProveedor" placeholder = "Proveedor" value="{{data.recepcion[0].IDProveedor}}" data-selected="{{data.recepcion[0].IDProveedor}}" required {{session.action == 'list'?'disabled':''}}>
                                	<option>Selecciona un proveedor</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="fechaRecepcion">Fecha de Compra:</label>
                                <input class="form-control" type="text" data-type="date" name="fechaRecepcion" id="fechaRecepcion" placeholder="Fecha de Compra" value="{{data.recepcion[0].FechaRecepcion}}" required {{session.action == 'list'?'disabled':''}}>
                            </div>
                        {% if session.action != 'list' %}
                            <div class="form-group col-xs-12 col-sm-6 col-md-12">
                            	<label for="listaProductos">Productos:</label>
                            	<select size="6" data-url="{{session.document_root}}/producto/api/list/activos" class="form-control" multiple id="listaProductos" name="listaProductos" placeholder="Productos" {{session.action == 'list'?'disabled':''}}>
                            	</select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 col-md-12">
                            	<label for="iva">Iva (%):</label>
                            	<input class="form-control" type="number" step="any" min="0" max="100" name="iva" id="iva" value="16" {{session.action == 'list'?'disabled':''}}>
                            </div>
                        {%endif%}
                            <div class="form-group col-xs-12">
                            	<label>Productos Seleccionados:</label>
                            	<div class="table-responsive col-xs-12">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr class="gradeA">
                            					<th></th>
                            					<th>Id</th>
                            					<th>Nombre</th>
                            					<th>P. Unitario ($)</th>
                            					<th>Cantidad</th>
                            					<th>Descuento (%)</th>
                            					<th>IVA (%)</th>
                            					<th>Sub Total ($)</th>
                            				</tr>
                            			</thead>
                            			<tbody id="productosContainer">
                            			{% for producto in data.productos %}
                                            <tr>
                                                <td colspan="2">{{producto.IDProducto}}</td>
                                                <td>{{producto.Producto}}</td>
                                                <td>{{producto.PrecioUnitario}}</td>
                                                <td>{{producto.Cantidad}}</td>
                                                <td>{{producto.Descuento}}</td>
                                                <td>{{producto.IVA}}</td>
                                                <td>{{((producto.Cantidad*producto.PrecioUnitario)-(producto.Cantidad*producto.PrecioUnitario*producto.Descuento*0.01))+(((producto.Cantidad*producto.PrecioUnitario)-(producto.Cantidad*producto.PrecioUnitario*producto.Descuento*0.01))*producto.IVA*0.01)}}</td>
                                            </tr>
                                        {% endfor %}
                            			</tbody>
                            			<tfoot>
                            				<tr>
                            					<th colspan="7" class="text-right">Total: {{data.recepcion[0].Total}}</th>
                            					<th id="totalProductos"></th>
                            				</tr>
                            			</tfoot>
                            		</table>
                            	</div>
                            </div>
                            {% if session.action != 'list' %}
                            <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                  <!--  <button type="reset"  class="btn btn-warning"><span class="fa fa-file-o"></span> Limpiar Campos</button>--> 
                                    <button type="submit" class="btn btn-success"><span class="fa fa-save "></span> Enviar</button>
                            </div>
                        </form>
                        <div class="modal fade" id="modalCargar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title text-center" id="myModalLabel">Cargando</h4>
                                    </div>
                                    <div class="modal-body text-center">
                                        <span class="fa fa-spinner fa-spin fa-5x"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                     </div>
                </div>
            </div>
        </section>
    </div>
{% include 'footer.html' with {'jsLibs': ['js/recepcion.js']}%}